@model HumanResourcesWebApp.Models.EmpleadoType

@{
    ViewBag.Title = "Crear Empleado";
}


@using (Html.BeginForm("Crear", "Empleados", FormMethod.Post, new { id = "frmSaveEmplado" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2 class="text-info">Crear Empleado</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Persona</label>
        <div class="col-md-10">
            <select name="BusinessEntityId" id="BusinessEntityId" class="form-control">
                <option value="">-Seleccione-</option>
            </select>
            @Html.ValidationMessageFor(model => model.BusinessEntityId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">NationalIdNumber</label>
        <div class="col-md-10">
            <input type="text" name="NationalIdNumber" id="NationalIdNumber" class="form-control" maxlength="15" />
            @Html.ValidationMessageFor(model => model.NationalIdNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">LoginId</label>
        <div class="col-md-10">
            <input type="text" name="LoginId" id="LoginId" class="form-control" maxlength="256" />
            @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">JobTitle</label>
        <div class="col-md-10">
            <input type="text" name="JobTitle" id="JobTitle" class="form-control" maxlength="50" />
            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">BirthDate</label>
        <div class="col-md-10">
            <input type="date" name="BirthDate" id="BirthDate" class="form-control" />
            @*@Html.TextBoxFor(model => model.BirthDate)*@
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">MaritalStatus</label>
        <div class="col-md-10">           
            <select name="MaritalStatus" id="MaritalStatus" class="form-control">
                <option value="">-Seleccione-</option>
                <option value="S">Soltero</option>
                <option value="M">Casado</option>
            </select>
            @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Gender</label>
        <div class="col-md-10">
            <select name="Gender" id="Gender" class="form-control">
                <option value="">-Seleccione-</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">HireDate</label>
        <div class="col-md-10">
            <input type="date" name="HireDate" id="HireDate" class="form-control" />
            @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">VacationHours</label>
        <div class="col-md-10">
            <input type="number" min="-40" max="240" name="VacationHours" id="VacationHours" class="form-control" />
            @Html.ValidationMessageFor(model => model.VacationHours, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">SickLeaveHours</label>
        <div class="col-md-10">
            <input type="number" min="0" max="120" name="SickLeaveHours" id="SickLeaveHours" class="form-control"  />
            @Html.ValidationMessageFor(model => model.SickLeaveHours, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Empleado" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Listado de Empleados", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            cargar_personas();
           

        });

        function cargar_personas() {
            $.get(
                  '@Url.Action("ObtenerPersonas", "Empleados")'
               )
              .done(function (data) {
                  $.each(data, function (i, row) {
                      var $option = $('<option>');
                      $option.val(row.BusinessEntityId);
                      $option.html(row.NameDescription);
                      $('#BusinessEntityId').append($option);
                  })
              })
              .fail(function (data) {
                  console.log('error !!!');
              }
          );
        }

    </script>
}
