@model IEnumerable<HumanResourcesWebApp.Models.EmpleadoType>

@{
    ViewBag.Title = "Listado de Empleados";
}


<h2 class="text-info">Listado de Empleados</h2>

<p>

    <a href="@Url.Action("Crear","Empleados")" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Crear Nuevo</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessEntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalIdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SickLeaveHours)
        </th>
        <th></th>
    </tr>


    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {

        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BusinessEntityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
               
                <label id="BirthDate">@item.BirthDateInen</label>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MaritalStatusFormat)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.GenderFormat)
            </td>
            <td>
              
                <label id="HireDate">@item.HireDateInen</label>
            </td> 
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.VacationHours)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SickLeaveHours)
            </td>
            <td>
                <a href="@Url.Action("Editar","Empleados",new { id = item.BusinessEntityId })" class="btn btn-primary btn-xs" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="@Url.Action("Eliminar","Empleados",new { id = item.BusinessEntityId })" class="btn btn-danger btn-xs" title="Eliminar"><i class="glyphicon glyphicon-trash"></i> </a>

            </td>
        </tr>

          
        }
    }
    else
    {
        <tr>
            <td colspan="9">
                <label id="lblNoData" class="text-warning"> No existen registro para mostrar.</label>
            </td>
        </tr>
    }

</table>
